<section id="demo-section">
    <h2>Video Demo</h2>
    <div>
        <p>
            Finally there comes our final video demo!
        </p>
        <blockquote>
            There may be somewhere in the video that has the low framerate. That'a because the
            screen recording software is costing too much. Also we run these demos on
            MacBook Pro 13' 2017 (without TouchBar). The configuration of this computer is not
            that high, causing the performance become not that good.
        </blockquote>
        <iframe src="https://player.vimeo.com/video/221568934"
            width="800px" height="450px" style="margin: 0 auto">
        </iframe>
    </div>
</section>
