<section id="irradiance-section">
    <h2>Irradiance Environment Map</h2>
    <div>
        <p>
            Actually, you might have seen this in the previous images that the
            diffuse material actually could be lightened by the irradiance environment
            map. We have implemented a functionality that can let us see the irradiance
            environment map more easily. Simply press <code>i</code> and you can
            toggle between the normal environment map and the irradiance one.
        </p>
        <p>
            Let's see some picture of diffuse objects that the scene has completely no
            light:
        </p>
        <p class="center">
            <img src="img/final/diffuse_cube.png" width="600px" />
        </p>
        <p class="center">
            <img src="img/final/diffuse_sphere.png" width="600px" />
        </p>
        <p class="center">
            <img src="img/final/diffuse_torus.png" width="600px" />
        </p>
        <p class="center">
            <img src="img/final/diffuse_teapot.png" width="600px" />
        </p>
        <p class="center">
            <img src="img/final/diffuse_scene.png" width="600px" />
        </p>
        <p>
            It is also remarkable that in the last image, the SSAO is helping the scene
            to create lots of reasonable shadows while there's actually no light. When
            adding light to the scene, the irradiance environment map is behaving even
            better to give the scene a variety of colors.
        </p>
        <p>
            Here's a model I made early this year. I just remembered this one, triangulated it and
            put that into the scene. And I found that it is working fabulously well. The object
            file is 8mb big, and has over 100,000 triangles. And the scene is loaded within seconds.
        </p>
        <p class="center">
            <img src="img/final/diffuse_kagi.png" width="600px" />
        </p>
    </div>
</section>
