<div id="page-title">
    <h2>CSE 163 Project 2</h2>
    <ul id="student-info" style="color: rgba(150, 150, 150, 1)">
        <li>Ziyang Li, A92070182</li>
        <li>Yunlu Huang, A91008991</li>
    </ul>
</div>
<ul id="section-list">
    <li>
        <a data-sec="#basic-section">Overall</a>
        <ul>
            <li>
                <a data-sec="#abstract-section">Abstract</a>
            </li>
            <li>
                <a data-sec="#compile-section">Compilation</a>
            </li>
        </ul>
    </li>
    <li>
        <a data-sec="#mesh-viewer-section">Mesh Viewer</a>
        <ul>
            <li>
                <a data-sec="#start-section">Start Mesh Viewer</a>
            </li>
            <li>
                <a data-sec="#window-section">Control by Keyboard</a>
            </li>
            <li>
                <a data-sec="#terminal-section">Control by terminal</a>
            </li>
        </ul>
    </li>
    <li>
        <a data-sec="#data-structure-section">Data Structure</a>
    </li>
    <li>
        <a data-sec="#decimation-section">Mesh Decimation</a>
        <ul>
            <li>
                <a data-sec="#fin-section">Fin Removal</a>
            </li>
            <li>
                <a data-sec="#boundary-section">Boundary Detection</a>
            </li>
            <li>
                <a data-sec="#error-section">Errors</a>
            </li>
        </ul>
    </li>
    <li>
        <a data-sec="#quadric-section">Quadric Simplification</a>
    </li>
    <li>
        <a data-sec="#progressive-section">Progressive Mesh</a>
        <ul>
            <li>
                <a data-sec="#vsplit-section">Vertex Split</a>
            </li>
            <li>
                <a data-sec="#progress-save-section">Save &amp; Load Progress</a>
            </li>
            <li>
                <a data-sec="#geomorph-section">Geomorph</a>
            </li>
        </ul>
    </li>
</ul>
<div id="sidebar-footer" class="right">
    <div id="download-section">
        <a id="download-button" class="btn" href="res/simplifier">Download Executable</a>
        <span style="font-size: 10px; color: rgba(150, 150, 150, 1)">
            OS: MacOS Sierra Version 10.12.4
        </span>
    </div>
</div>
