<div id="page-title">
    <h2>CSE 163 Project 3</h2>
    <ul id="student-info" style="color: rgba(150, 150, 150, 1)">
        <li>Ziyang Li, A92070182</li>
        <li>Yunlu Huang, A91008991</li>
    </ul>
</div>
<ul id="section-list">
    <li>
        <a data-sec="#basic-section">Basic</a>
        <ul>
            <li>
                <a data-sec="#abstract-section">Abstract</a>
            </li>
            <li>
                <a data-sec="#compile-section">Compile &amp; Run</a>
            </li>
        </ul>
    </li>
    <li>
        <a data-sec="#general-section">General</a>
        <ul>
            <li>
                <a data-sec="#obj-loader-section">Scene File Loader</a>
            </li>
            <li>
                <a data-sec="#obj-loader-section">Object File Loader</a>
            </li>
            <li>
                <a data-sec="#obj-loader-section">Basic Control System</a>
            </li>
        </ul>
    </li>
    <li>
        <a data-sec="#shadow-section">Shadow &amp; Lighting</a>
    </li>
    <li>
        <a data-sec="#ssao-section">SSAO</a>
    </li>
    <li>
        <a data-sec="#environment-section">Environment Map</a>
    </li>
    <li>
        <a data-sec="#irradiance-section">Irradiance Environment Map</a>
    </li>
    <li>
        <a data-sec="#video-section">Video Demo</a>
    </li>
</ul>
<div id="sidebar-footer" class="right">
    <div id="download-section">
        <a id="download-button" class="btn" href="res/simplifier">Download Executable</a>
        <span style="font-size: 10px; color: rgba(150, 150, 150, 1)">
            OS: MacOS Sierra Version 10.12.4
        </span>
    </div>
</div>
